<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Анкета</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>
    <h1>Заполните анкету, пожалуйста</h1>
    <form method="post="/submit_form/">
        <label for="height">Ваш вес, в кг:</label>
        <input type="text" id="height" name="height" required><br><br>
        <label for="weight">Ваш рост, в см:</label>
        <input type="text" id="weight" name="weight" required><br><br>
        <button id="saveButton">Сохранить</button>
    </form>
</body>

<script>
    let tg = window.Telegram.WebApp;
    document.getElementById('saveButton').addEventListener('click', function() {
        let heightValue = document.getElementById('height').value;
        let weightValue = document.getElementById('weight').value;
        let data = `height=${heightValue}&weight=${weightValue}`;
        tg.sendData(data);
        tg.close();
    });
</script>
</html>